*,
*::before,
*::after {
  box-sizing: border-box;
}
:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: #2e2f42;
  --grey: #2e2f42;
  --white: #ffffff;
  --dairy: #fcfcfc;
  --border: #e7e9fc;
}
/* General */
body {
  font-family: 'Roboto', sans-serif;
  color: var(--slate);
  letter-spacing: 0.02em;
  background-color: var(--white);
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.title-two {
  font-size: 36px;
  line-height: 1.11;
  color: var(--navy-blue);
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 0.02em;
}
.title-three {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--navy-blue);
  letter-spacing: 0.02em;
}
.item {
  font-size: 16px;
  line-height: 1.5;
}
.container {
  margin-left: auto;
  margin-right: auto;
  width: 1158px;
  outline: 2px solid purple;
}
.section {
  padding: 120px 0;
}
/**
  |============================
  | Reset
  |============================
*/

.list {
  list-style: none;
  display: block;
}
.link {
  text-decoration: none;
}
img {
  display: block;
}
h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}

/* Header */
header {
  margin: 0;
  padding: 0;
  border-bottom: 1px solid var(--border);
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
}
.logo-studio {
  color: var(--navy-blue);
}
.navigation {
  display: flex;
  margin-left: 76px;
}
.navigation > .item:not(:last-child) {
  margin-right: 40px;
}
.navigation a {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--navy-blue);
}
.address {
  font-style: normal;
}
.address > .list {
  display: flex;
}
.address-item {
  font-size: 16px;
  line-height: 1.5;
  color: var(--slate);
}
.main-nav {
  display: flex;
}
/* Main page */

/* Hero */
.hero {
  background-color: var(--navy-blue);
  text-align: center;
}
.hero-title {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;

  color: var(--white);
  font-size: 56px;
  line-height: 1.07;
  font-style: normal;
  text-align: center;
  letter-spacing: 0.02em;
  width: 496px;
}
.hero-button {
  min-width: 169px;
  padding: 16px 32px;

  font-family: 'Roboto', sans-serif;
  background: var(--iris);
  font-weight: 500;
  color: var(--white);
  font-size: 16px;
  line-height: 1.5;
  cursor: pointer;
  letter-spacing: 0.04em;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
/* Section 1 */

.advantages .title-three {
  padding-left: 0;
  margin-bottom: 8px;
}
.advantages li {
  width: 264px;
}
.advantages ul {
  display: flex;
  flex-wrap: wrap;
}
.advantages .item {
  margin-right: 24px;
}
/* Section 2 */
.our-works .title-two {
  margin-bottom: 72px;
}
.our-works ul {
  display: flex;
  flex-wrap: wrap;
}

/* Section 3 */
.team {
  background-color: var(--cloud);
}
.team .title-two {
  padding-top: 120px;
  margin-bottom: 72px;
}
.team ul {
  display: flex;
  flex-wrap: wrap;
}

.team-icon {
  background-color: var(--white);
  width: 264px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}
.team-icon img {
  margin-bottom: 32px;
}
.team-icon .title-three {
  text-align: center;
  margin-bottom: 8px;
}
.team-icon .item {
  text-align: center;
  padding-bottom: 32px;
}

/* Active */
.hero button:hover,
.hero button:focus {
  background-color: var(--ocean);
}
.navigation a:hover,
.navigation a:focus,
.address a:hover,
.address a:focus {
  color: var(--ocean);
}
/* Footer */
.footer {
  background-color: var(--navy-blue);
}
.footer .footer-logo,
.footer-text {
  color: var(--cloud);
}
.footer .logo {
  padding-top: 100px;
  margin-bottom: 16px;
}
.footer-text {
  padding-bottom: 100px;
  width: 264px;
}

/**
  |============================
  | Portfolio
  |============================
*/
/* Filter */
.filter-btn {
  margin-top: 96px;
  padding: 12px 24px;
  min-width: 69px;

  font-family: 'Roboto', sans-serif;
  background-color: var(--cloud);
  font-weight: 500;
  color: var(--iris);
  font-size: 16px;
  line-height: 1.5;
  cursor: pointer;
  letter-spacing: 0.04em;

  border: 1px solid var(--border);
  border-radius: 4px;
}
.filter-btn:hover,
.filter-btn:focus {
  background-color: var(--ocean);
  color: var(--white);
}

/* Portfolio list */
.portfolio-icon {
  width: 360px;
}
.description {
  border-left: 1px solid var(--border);
  border-bottom: 1px solid var(--border);
  border-right: 1px solid var(--border);
}

.portfolio-icon h2 {
  padding-top: 32px;
  margin-bottom: 8px;
  margin-left: 16px;
}
.portfolio-icon p {
  padding-bottom: 32px;
  margin-left: 16px;
}
.portfolio-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--navy-blue);
  letter-spacing: 0.02em;
}
.portfolio-item {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}
